.modal {
  --transition-modal: .5s;
  position: fixed;
  inset: 0;
  z-index: 90000;
  background-color: rgba(var(--bg-primary-rgb) / 80%);
  padding: var(--marge-secondary);
  display: flex;
  transition: opacity var(--transition-modal), visibility var(--transition-modal);
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .close {
    position: absolute;
    right: .5em;
    top: .5em;
    width: 2.5em;
    height: 2.5em;
    padding: 0;

    svg {
      margin: 0;
      top: 0;
    }
  }

  &-content {
    --padding: calc(25px + 25 * (100vw - 320px) / 1080);
    margin: auto;
    background-color: var(--bg-body);
    border-radius: var(--radius-primary);
    width: calc(var(--content-width) / 1.25);
    max-width: 100%;
    padding: var(--padding);
    box-shadow: 0 25px 40px -5px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
  }

  &-step {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
  }

  &-title {
    font-weight: 600;
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size-heading) / 1.5);
  }

  &-table {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
    
    table {
      --padding: 1.5em;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 3px;
      white-space: nowrap;

      tbody {
        border-top: 10px solid transparent;
        padding: 10px;
        margin: 10px;
      }

      th {
        text-align: left;
        padding: 0 1em;

        span {
          font-size: .8em;
        }
      }

      tr {
        &:not(.sep) {
          td {
            --radius: .75em;
            background: var(--bg-secondary);
            vertical-align: middle;
            padding: 1em;

            &:first-child {
              border-radius: var(--radius) 0 0 var(--radius);
            }

            &:last-child {
              border-radius: 0 var(--radius) var(--radius) 0;
            }
            
            &.space {
              background-color: transparent;
              
              & + td {
                border-radius: var(--radius) 0 0 var(--radius);
              }
            }
          }
        }

        &.sep {
          td {
            padding: .25em;
          }
        }
      }

      .right {
        text-align: right;
      }

      .qty {
        padding: .75em 1em;
        margin: calc(var(--padding) * -1) 0;
        border-radius: .5em;
        width: 60px;
      }

      .total {
        td {
          vertical-align: top!important;
        }
        
        small {
          display: block;
          font-size: .85em;
          margin-top: .75em;
          font-weight: 400;
          
          svg {
            top: -1px;
            margin-left: .25ch;
          }
        }
      }

      img {
        min-width: 4.5em;
      }
    }
  }

  &-action {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    flex-wrap: wrap;
  }
}